.dialog-pane {
    -fx-background-color:white;
}

.dialog-pane .button {
    -fx-background-color: #FF9838;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-border-radius: 5px;
}
.dialog-pane TextField,PasswordField{
    -fx-border-color: #333333;
   -fx-border-radius: 5px;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-prompt-text-fill: #cccccc;
   -fx-font-size: 12px;
}
.dialog-pane Label{
    -fx-font-weight: bold;
   -fx-text-fill: #FFC187;
   -fx-cursor: hand;
}
.dialog-pane GridPane{
    -fx-padding: 10px 20px;
    -fx-vgap: 10px;
}
#success .root{
    -fx-background-color:Gray;
}
#success Label{
    -fx-background-color:white;
    -fx-font-weight: bold;
   -fx-text-fill: #333333;
   -fx-cursor: hand;
}
#success .button {
   -fx-background-color: #FF9838;
      -fx-text-fill: white;
      -fx-font-weight: bold;
      -fx-border-radius: 5px;
}
#error .root{
    -fx-background-color:Gray;
}
#error Label{
    -fx-font-weight: bold;
   -fx-text-fill: #333333;
   -fx-cursor: hand;
}
#error .button {
   -fx-background-color: #FF9838;
      -fx-text-fill: white;
      -fx-font-weight: bold;
      -fx-border-radius: 5px;
}
#alert.button {
  -fx-background-color: #FF9838;
     -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-border-radius: 5px;
}
#alert Label{
    -fx-font-weight: bold;
       -fx-text-fill: #FFC187;
       -fx-cursor: hand;
}
/*UI*/
.dialog-pane .header-panel {
    -fx-background-image: url('right.png');
    -fx-background-size: cover;
    /*-fx-background-position: center;*/
    -fx-background-repeat: no-repeat;
}
