#text{
     -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #333;
    -fx-border-color: #ffdbab;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 4px;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: transparent;
    -fx-focus-color: #ef6c00;
}
#title {
    -fx-fill: #000000;
    -fx-font-size: 28px;
    -fx-stroke: #000000;
    -fx-font-weight: bold;
    -fx-stroke-width: 0;
}
/*UI*/
#button {
    -fx-background-color: #FF9838;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #FF9838;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font: normal bold 16px 'serif';
}
#button:hover {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #FF9838;
}
#button:selected {
    -fx-background-color: #FFC187;
    -fx-border-color: #FFC187;
    -fx-text-fill: #FFFFFF;
}
#button.active{
    -fx-background-color: #FFC187;
    -fx-text-fill: BLACK;
}
#getAns {
    -fx-pref-height: 32px;
    -fx-pref-width: 60px;
    -fx-font-size: 14px;
    -fx-background-color:#FF9838;
    -fx-border-color: #fad8ab;
    -fx-border-width: 2px;
    -fx-text-fill: White;
    -fx-font-weight: bold;
    -fx-font: normal bold 16px 'serif';
}

#getAns:hover {
    -fx-background-color: #ffb74d;
    -fx-text-fill: #fff;
}

#getAns:pressed {
    -fx-background-color: #ef6c00;
    -fx-text-fill: #fff;
}
#equationShow{
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-padding: 5px;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
}
#answerShow{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-alignment: center-right;
    -fx-font-family: "Times New Roman";
}
#tips{
    -fx-text-fill:gray;
    -fx-font-size:10px;
    -fx-font-family: "Times New Roman";
}