.anchor-pane , .root{
   -fx-background-color: white;
}

.avatar-image {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
#logo {
   -fx-alignment: center;
}

/*UI*/
#title {
   -fx-font-weight: bold;
   -fx-text-fill: #FFC187;
}

#usernameArea, #passwordArea {
   -fx-border-color: #333333;
   -fx-border-radius: 5px;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-prompt-text-fill: #cccccc;
}

#loginButton, #signup, #visitor {
   /*-fx-arc-height: 80;*/
   /*-fx-arc-width: 250;*/
   -fx-background-color: #FF9838;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-border-radius: 20px;
   -fx-font: normal bold 16px 'serif';
}

/*#signup, #visitor {*/
/*   -fx-font-weight: bold;*/
/*   -fx-text-fill: #333333;*/
/*   -fx-cursor: hand;*/
/*}*/

#Text1, #Text2 {
   -fx-font: normal bold 20px 'serif';
}

#signup:hover, #visitor:hover, #loginButton:hover {
   -fx-text-fill: BLACK;
}
