.root {
    -fx-background-color: white;
}
#menu .menu-bar {
    -fx-background-color: white;
}
#menu .menu-item {
    -fx-text-fill: #000000;
}
#menu .menu-item:hover {
    -fx-background-color: #cfcd66;
}
#menu .menu-item:pressed {
    -fx-background-color: #93913c;
}

