#title {
    -fx-fill: #000000;
    -fx-font-size: 28px;
    -fx-stroke: #000000;
    -fx-font-weight: bold;
    -fx-stroke-width: 0;
}
#button {
    -fx-background-color: #808080;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #808080;
    -fx-text-fill: #FFFFFF;
}
#button:hover {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #808080;
}
#button:selected {
    -fx-background-color: #4CAF50;
    -fx-border-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
}
#button.active{
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #808080;
}
#getAns {
    -fx-pref-height: 32px;
    -fx-pref-width: 60px;
    -fx-font-size: 14px;
    -fx-background-color:#fad8ab;
    -fx-border-color: #ffb74d;
    -fx-border-width: 2px;
    -fx-text-fill: #8d6e63;
}

#getAns:hover {
    -fx-background-color: #ffb74d;
    -fx-text-fill: #fff;
}

#getAns:pressed {
    -fx-background-color: #ef6c00;
    -fx-text-fill: #fff;
}
#vector {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-font-family: "Verdana";
}
#tip{
    -fx-font-size: 13px;
    -fx-text-fill: #333;
    -fx-font-family: "Times New Roman";
}
#filed{
    -fx-font-size: 14px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #333;
    -fx-border-color: #ffdbab;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 4px;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: transparent;
    -fx-focus-color: #ef6c00;
}
#answer{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}